<!doctype html>
<html>
<head>
	<title>Details</title>
</head>
<body>
	<h1>Movie Details: </h1>
	<!--	<%= JSON.stringify(movie) %> -->
		<%= movie.Title %>
		<%= movie.Year %>
		<%= movie.Actors %>
		<img src="<%= movie.Poster %>">
  	
</body>
</html>