<!doctype html>
<html>
<head>
	<title>Details</title>
</head>
<body>
	<h1>Movie Details: </h1>
	<ul>
	<!--	<%= JSON.stringify(movie) %> -->
		<li>	<%= movie.Title %> </li>
	 	<li> <%= movie.Year %> </li>
		<li> <%= movie.Actors %> </li>
	</ul>
		<img src="<%= movie.Poster %>">

		<form method="post" action="/favorites">
    	<input type="hidden" value="<%movie.imdbID%>" name="id">
    	<input type="hidden" value="<%movie.Title%>" name="movie.Title">
    	<input type="submit">
    </form>
</body>
</html>